spark.executor.memory   {{spark_worker_mem_mb}}m
spark.executor.extraLibraryPath {{ephemeral_hdfs}}/lib/native/

{% if hadoop_version == "2.6" or hadoop_version == "2.4" or hadoop_version == "2.3" %}
spark.executor.extraClassPath   {{ephemeral_hdfs}}/etc/hadoop/:{{swift_lib_destination}}{{spark_extra_jars_list}}{{ignite_cp|default("")}}
spark.driver.extraClassPath {{swift_lib_destination}}{{spark_extra_jars_list}}{{ignite_cp|default("")}}
{% else %}
spark.executor.extraClassPath   {{ephemeral_hdfs}}/etc/hadoop/{{spark_extra_jars_list}}{{ignite_cp|default("")}}
spark.driver.extraClassPath {{spark_extra_jars_list}}{{ignite_cp|default("")}}
{% endif %}

spark.master    spark://{{ active_master_ip }}:7077


{% if on_yarn %}

spark.eventLog.dir hdfs://{{ active_master }}:9000/user/spark/applicationHistory
spark.history.fs.logDirectory hdfs://{{ active_master }}:9000/user/spark/applicationHistory
spark.eventLog.enabled true
spark.yarn.historyServer.address {{ active_master }}:18088

{% else %}

spark.eventLog.enabled true
spark.eventLog.dir /tmp/

{% endif %}

# for spark version < 1.4.0
spark.tachyonStore.url tachyon://{{ active_master_ip }}:19998
# for spark version >= 1.4.0
spark.externalBlockStore.url tachyon://{{ active_master_ip }}:19998
