spark.executor.memory   {{spark_worker_mem}}
spark.executor.extraLibraryPath {{ephemeral_hdfs}}/lib/native/

{% if hadoop_version == "2.6" or hadoop_version == "2.4" or hadoop_version == "2.3" %}
spark.executor.extraClassPath   {{ephemeral_hdfs}}/etc/hadoop/:{{swift_lib_destination}}
spark.driver.extraClassPath {{swift_lib_destination}}
{% else %}
spark.executor.extraClassPath   {{ephemeral_hdfs}}/etc/hadoop/
{% endif %}

spark.master    spark://{{ active_master_ip }}:7077
spark.eventLog.enabled true
spark.eventLog.dir /tmp/

# for spark version < 1.4.0
spark.tachyonStore.url tachyon://{{ active_master_ip }}:19998
# for spark version >= 1.4.0
spark.externalBlockStore.url tachyon://{{ active_master_ip }}:19998
