---
#needs vars from spark_common

- name: start hadoop dfs
  command: "{{ hadoop_home }}/sbin/start-dfs.sh"

- name: start hadoop yarn
  command: "{{ hadoop_home }}/sbin/start-yarn.sh"
  when: use_yarn

- name: start spark master
  shell: SPARK_MASTER_IP="{{ cluster_name }}-master" {{ spark_home }}/sbin/start-master.sh
  when: not use_yarn

- name: start the slaves
  shell: "{{ spark_home }}/sbin/start-slaves.sh"
  when: not use_yarn
