---

- name: Download Cassandra checksum
  local_action: get_url url={{ cassandra_checksum_url }} dest=files/
  become: False


- name: Extract Cassandra checksum
  set_fact: cassandra_md5="{{ lookup('file', cassandra_checksum) }}"


- name: Download Cassandra tarball
  get_url: url={{ cassandra_download_url }} dest=/opt/ checksum="md5:{{ cassandra_md5 }}"
  when: "'inventory_hostname' == 'active_master_inventory_hostname'"


- name: distribute Cassandra tarball
  synchronize:
    src: "/opt/{{ cassandra_file }}"
    dest: "/opt/{{ cassandra_file }}"
  delegate_to: "{{ active_master_inventory_hostname }}"

- name: unpack Cassandra
  unarchive: copy=no src=/opt/{{ cassandra_file }} dest=/opt

- name: symlink Cassandra
  file: src={{ cassandra_home }} dest=/opt/cassandra state=link

